@charset "utf-8";
/* css document */

*{
    font-family:"微软雅黑";
    font-size: 16px;
    color: #333333;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

.top {
    height: 60px;
    margin: 0 auto;
    width: 100%;
}

.logo{
    float: left;
    margin-top: 6px;
    margin-left: 94px;
}

.nav {
    width: 616px;
    height: 60px;
    float: right;
    boder:1px solid black;
}

.nav li {
    float: left;
    width: 74px;
    text-align: center;
    margin-left: 2em;
    line-height: 60px;

    position: relative;
}

.nav_contact a {
    color: #FFFFFF;
}

.nav_box ul li span{
    position: absolute;
    display: block;
    background: #1bd0ca;
    width:0px;
    height: 0px;
    top:0px;
    left:50%;
}

.nav_box ul li a:hover{
    color: #1bd0ca;
}

.nav li #index{
    color: #1bd0ca;
}

.nav_contact {
    float: right;
    background-image: url("../image/bg_contact.png");
    background-repeat: no-repeat;
    line-height:60px;
    width: 240px;
    text-align: center;
}

.nav_contact:hover{
    opacity:0.7;
}

