@charset "utf-8";
/* css document */

* {
    font-family: "微软雅黑";
    font-size: 16px;
    /*font-size: 62.5%;*/
    color: #333333;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*top*/

.top {
    height: 60px;
    margin: 0 auto;
    width: 100%;
}

.logo {
    float: left;
    margin-top: 6px;
    margin-left: 94px;
}

.nav {
    width: 616px;
    height: 60px;
    float: right;
}

.nav li {
    float: left;
    width: 74px;
    text-align: center;
    margin-left: 2em;
    line-height: 60px;
    position: relative;
}

.nav_contact a {
    color: #FFFFFF;
}

.nav_box ul li span {
    position: absolute;
    display: block;
    background: #1bd0ca;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 50%;
}

.nav_box ul li a:hover {
    color: #1bd0ca;
}

.nav li #index {
    color: #1bd0ca;
}

.nav_contact {
    float: right;
    background-image: url("../../image/wn/bg_contact.png");
    background-repeat: no-repeat;
    line-height: 60px;
    width: 240px;
    text-align: center;
}

.nav_contact:hover {
    opacity: 0.7;/*不透明级别*/
}

/*banner*/

.top_banner{
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    height:800px;
    position: relative;
}

.banner_box ol{position:relative;width: 80px;height: 20px;top:-30px;left:60px;}
.banner_box ol li{float:left;width: 10px;height: 10px;margin: 5px;background: #FFFFFF;}
.banner_box ol li.seleted{background: #1bd0ca;}

/*左滑*/
.banner_box{}
.slider_left{position:relative;padding:0;}
.slider_left ul{position: relative;padding: inherit;margin: 0;}
.slider_left ul li{float: left;padding: inherit;margin: inherit;list-style: none;}
.slider_left ul li img{width: inherit;height: inherit;}

/*product*/

.product{ width:1036px; margin:0 auto; margin-bottom:72px; padding-top:106px;}
.product_title{ float:left;}
.product_title h1{ font-size:50px; font-weight:bold;}
.product_h2 img{ float:left; margin-top:16px;}
.product_h2 h2{ float:left; font-size:30px; color:#1BD0CA; margin-left:24px;}
.product p{ width:340px; float:left; margin-left:400px; margin-top:10px; text-align:justify;}